[Unit]
Description=SOFTWAY4IoT AP server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/sw4iot/SOFTWAY4IoT-CreateAPServer
Environment="PATH=/opt/sw4iot/SOFTWAY4IoT-CreateAPServer/venv/bin"
ExecStart=/opt/sw4iot/SOFTWAY4IoT-CreateAPServer/venv/bin/gunicorn --workers 3 --bind unix:sw4iot_ap_server.sock -m 644 wsgi:app
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target