[Unit]
Description=SOFTWAY4IoT AP server
Before=mkdir
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/sw4iot/CreateAPServer
ExecStartPre=-/bin/mkdir -p /run/sw4iot
ExecStart=/opt/sw4iot/CreateAPServer/venv/bin/gunicorn --workers 3 --timeout 300 --bind=unix:/run/sw4iot/sw4iot_ap_server.sock -m 644 wsgi:app
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target